<div class="mx-auto mt-4 w-[fit-content]">
  <mat-form-field appearance="outline" class="bg-white">
    <!-- <mat-label>Search</mat-label> -->
    <button matPrefix class="flex" (click)="handleGpsClicked()">
      <mat-icon>location_searching</mat-icon>
    </button>
    <input
      matInput
      type="text"
      placeholder="Your city name"
      [formControl]="searchControl"
      (keyup.enter)="handleRequestWheatherData()"
    />
    <button matSuffix (click)="handleRequestWheatherData()" class="flex">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>
