@use "@angular/material" as mat;
@include mat.core();

//Custom Material Components themes

.mat-mdc-form-field {
  .mat-mdc-form-field-flex {
    align-items: center !important;
  }
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
  .mat-mdc-form-field-icon-prefix > button,
  .mat-mdc-form-field-icon-suffix > button {
    padding: 12px;
    box-sizing: content-box;
  }
}
