@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "mat-theme";
@import "colors";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  min-height: 100vh;
  background-color: $body-background;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }
}

.weatherContainer {
  margin-top: 1rem;
  width: 50%;
  background-color: white !important;
}

.navigateButton {
  margin-top: 1rem;
  @include background-with-hover(white);
}
